<ol class="text-sm text-neutral-500 dark:text-neutral-400 print:hidden">
  {{ if and .IsPage (eq .Section "posts") }}
    {{/* Breadcrumb artikel: Home (hidden) / Tag 1 / Tag 2 ... / Judul (hidden) */}}
    <li class="hidden">
      <a class="hover:underline decoration-neutral-300 dark:underline-neutral-600" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Home.Title }}</a><span class="px-1 text-primary-500">/</span>
    </li>
    {{ $crumbs := slice }}
    {{ with .Params.tags }}
      {{ range first 3 . }}
        {{ $crumbs = $crumbs | append (dict "name" . "url" (printf "/topik/%s/" (. | urlize))) }}
      {{ end }}
    {{ else }}
      {{ range first 3 (.Params.categories | default slice) }}
        {{ $crumbs = $crumbs | append (dict "name" . "url" (printf "/kategori/%s/" ((replace . "/" "-") | urlize))) }}
      {{ end }}
    {{ end }}
    {{ range $crumbs }}
      <li class="inline">
        <a class="hover:underline decoration-neutral-300 dark:underline-neutral-600" href="{{ .url | relLangURL }}">{{ .name }}</a><span class="px-1 text-primary-500">/</span>
      </li>
    {{ end }}
    <li class="hidden">
      <a class="hover:underline decoration-neutral-300 dark:underline-neutral-600" href="{{ .RelPermalink }}">{{ .Title }}</a><span class="px-1 text-primary-500">/</span>
    </li>
  {{ else }}
    {{ template "nrt-crumb" (dict "p1" . "p2" .) }}
  {{ end }}
</ol>
{{ define "nrt-crumb" }}
  {{ if .p1.Parent }}
    {{ template "nrt-crumb" (dict "p1" .p1.Parent "p2" .p2 ) }}
  {{ else if not .p1.IsHome }}
    {{ template "nrt-crumb" (dict "p1" .p1.Site.Home "p2" .p2 ) }}
  {{ end }}
  <li class="{{ if or (eq .p1 .p2) (.p1.IsHome) }}hidden{{ else }}inline{{ end }}">
    <a class="hover:underline decoration-neutral-300 dark:underline-neutral-600" href="{{ .p1.RelPermalink }}"
      >{{ if .p1.Title }}
        {{- .p1.Title -}}
      {{ else }}
        {{- .p1.Section -}}
      {{ end }}</a
    ><span class="px-1 text-primary-500">/</span>
  </li>
{{ end }}
