{{/* Favicon North7 dari img/logo.png (dibuatkan varian ukurannya otomatis). */}}
{{ with resources.Get "img/logo.png" }}
{{ $f32 := .Resize "32x32" }}
{{ $f16 := .Resize "16x16" }}
{{ $a180 := .Resize "180x180" }}
<link rel="icon" type="image/png" sizes="32x32" href="{{ $f32.RelPermalink }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ $f16.RelPermalink }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ $a180.RelPermalink }}">
{{ end }}
<meta name="theme-color" content="#1E1E2E">
